.proposal-Container-box {
  /* background-color: darkmagenta; */
  height: 43vh;
  width: 42vw;
  display: flex;
  overflow-x: scroll;
  margin-left: 4vw;
}

.boxy {
  display: flex;
  align-items: center;
  justify-content: center;
}
