.proposal-box {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  height: 37vh;
  width: 18vw;
  background: rgb(58, 66, 118);
  background: linear-gradient(
    90deg,
    rgba(58, 66, 118, 1) 0%,
    rgba(91, 164, 252, 1) 100%
  );
  border-radius: 5px;
}

.proposal-title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.proposal-location {
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.location-box {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  width: 200px;
  height: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-icon {
  color: whitesmoke;
  margin-bottom: 1px;
  margin-right: 6px;
}

.proposal-description {
  width: 16vw;
  height: 9vh;
  margin-top: 30px;
  margin-left: 20px;
  color: white;
  font-weight: 300;
  font-size: 13px;
}

.vote-icon {
  color: whitesmoke;
}

.votes-and-button {
  margin-top: 30px;
  display: flex;
  width: 18vw;
  justify-content: space-between;
  align-items: center;
}

.votes {
  display: flex;
  margin-left: 15px;
}

.votes-text {
  margin-top: 5px;
  margin-left: 5px;
  color: whitesmoke;
  font-weight: 400;
  font-size: 18px;
}

.linear-progress-bar {
  width: 11vw;
}

.votes-and-the-bar {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 8vh;
}
