.Project-Tab {

  background-color: #fff;
  width: 530px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.Project-tab-header-text-containter {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
  font-size: 17px;
  font-weight: 400;
}
.Project-tab-header-text {
  margin-left: 20px;
}

.red-color-box {
  background-color: #f44236;
  width: 4px;
  height: 20px;
}
