#sidenav {
  margin: 0;
}

#topItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#contentDash {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 900px;
  background: rgb(241, 241, 244);
  background: linear-gradient(
    90deg,
    rgba(241, 241, 244, 1) 41%,
    rgba(110, 198, 244, 0.04245448179271705) 99%,
    rgba(0, 0, 0, 1) 100%
  );
}
