.Report-tab {
  margin-left: 30px;
  background-color: #fff;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.Report-tab-header-text-containter {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
  font-size: 17px;
  font-weight: 400;
}
.Report-tab-header-text {
  margin-left: 20px;
}

.blue-color-box {
  background-color: #04a9f5;
  width: 4px;
  height: 20px;
}
